* {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    margin: 20px auto 0;
}

p {
    margin-top: 20px;
}

input {
    padding: 8px 16px;
    margin-bottom: 16px;
    margin-right: 8px;
}

label {
    margin-left: 20px;
}

span {
    margin: 20px;
}

.todo-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    height: 40px;
    text-align: left;
    background-color: #f2f2f2;
}

td {
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

.sort-button {
    margin-top: 20px;
}

button {
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 2px;
}

button:hover {
    background-color: #79a8a9;
    color: #fff;
    cursor: pointer;
}

select {
    padding: 8px;
    margin-right: 8px;
}

.filter-status {
    margin-top: 20px;
}